/analise-empresas-core/*.classpath
/analise-empresas-core/*.project
/analise-empresas-core/.settings/*.prefs
/analise-empresas-cotacoes/*.classpath
/analise-empresas-report/target
/analise-empresas-report/.settings
/analise-empresas-report/*.classpath
/analise-empresas-loader/.settings
/analise-empresas-loader/target
/analise-empresas-loader/*.classpath
/analise-empresas-loader/*.project
/analise-empresas-indicadores/.settings
/analise-empresas-indicadores/target
/analise-empresas-indicadores/*.classpath
/analise-empresas-indicadores/*.project
/analise-empresas-entities/.settings
/analise-empresas-entities/target
/analise-empresas-entities/*.classpath
/analise-empresas-entities/*.project
/analise-empresas-download/.settings
/analise-empresas-download/target
/analise-empresas-download/*.classpath
/analise-empresas-download/*.project
/analise-empresas-cotacoes/.settings
/analise-empresas-cotacoes/target
/analise-empresas-cotacoes/*.project
/analise-empresas-core/.settings
/analise-empresas-core/target
/analise-empresas-service/arquivos
